.profile-respect{
    position: absolute;
    width: 280px;
    height: 329px;
    left: 620px;
    top: 166px;
}
.profile-respect-btn{
    position: absolute;
    width: 121px;
    height: 35px;
    left: 135px;
    top: 0px;
    background: #EDEDED;
    border-radius: 4px;
    border: none;
    cursor:pointer;
}
.profile-respect-btn:active{
    
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.profile-respect-img{
    position: absolute;
    position: absolute;
    width: 110px;
    left: 3px;
    top: 5px;
}
.profile-respect-me{
    position: absolute;
    width: 125px;
    height: 30px;
    left: 22px;
    top: 0px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #767676;
}
.profile-respect-me-btn{
    text-decoration: underline;
    cursor: pointer;
}
.profile-respect-me-btn:hover{
    color: #444444;
}
.profile-respect-you{
    position: absolute;
    width: 125px;
    height: 30px;
    left: 22px;
    top: 18px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #767676;
}

.profile-respect-you-btn{
    text-decoration: underline;
    cursor: pointer;
}
.profile-respect-you-btn:hover{
    color: #444444;

}

.profile-respect-modal{
    top: 45px;
    left: 25px;
    position: absolute;
}