
.profile-container{
    position: absolute;
    width: 850px;
    height: 372px;
    left: 100px;
    top: 120px;

    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}