#menu{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100vw;
    height: 80px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(89, 120, 150, 0.06);
}

#logo{
    position: absolute;
    left: 1.6%;
    right: 87.11%;
    top: 0%;
    bottom: 0%;
    width: 170px;
}