.experience-container {
  position: relative;
  width: 900px;
  height: max-content;
  left: 100px;
  top: 155px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}

.experience-title {
  position: relative;
  width: 900px;
  height: 50px;
}
.experience-title span:first-child {
  position: relative;
  left: 2%;
  top: 50%;
}
.experience-title span:last-child {
  position: relative;
  left: 3%;
  top: 50%;
  font-weight: bold;
  font-style: italic;
}
.experience-div {
  position: relative;
  left: 40px;
  top: 15px;
  padding-bottom: 40px;
}
