.projects-container {
  position: relative;
  width: 900px;
  height: max-content;
  left: 100px;
  top: 195px;
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
  border-radius: 4px;
}

.projects-title {
  position: relative;
  width: 900px;
  height: 50px;
}
.projects-title span:first-child {
  position: relative;
  left: 2%;
  top: 50%;
}
.project-title-text {
  position: relative;
  left: 3%;
  top: 50%;
  font-weight: bold;
  font-style: italic;
}
.projects-title span:last-child {
  position: relative;
  left: 5%;
  top: 50%;
}
.projects-div {
  position: relative;
  left: 35px;
  top: 15px;
  padding-bottom: 40px;
  display: flex;
}
.project-box {
  padding: 15px;
  text-align: center;
  font-weight: bold;
}
.project-box:hover {
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.3));
}
.project-box img {
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}
.project-box img:hover {
  cursor: pointer;
}
.project-box div {
  position: relative;
  top: 10px;
}
.project-box div:hover {
  cursor: pointer;
}

.project-add-btn {
  position: relative;
  cursor: pointer;
  top: -25px;
  left: 750px;
  width: 50px;
  height: 25px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
}
