.techstack-container{
    position: relative;
    width: 900px;
    height: max-content;
    left: 100px;
    top: 140px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(241, 244, 248, 0.5);
    border-radius: 4px;
}

.techstack-title{
    position: relative;
    width: 900px;
    height: 50px;
}
.techstack-title span:first-child{
    position:relative;
    left: 2%;
    top:50%;
}
.techstack-title span:last-child{
    position:relative;
    left: 3%;
    top:50%;
    font-weight: bold;
    font-style: italic;
}