
#login{
    position: absolute;
left: 82.01%;
right: 100px;
top: 36.25%;
bottom: 6.25%;

font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: capitalize;

color: #181818;
}

#join{
    position: absolute;
left: 90.35%;
right: 20px;
top: 36.25%;
bottom: 6.25%;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: capitalize;
color: #181818;


}