#github-login {
  position: absolute;
  left: 70%;
  top: 36.25%;
  bottom: 6.25%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #181818;
}
