.project-register-container {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  width: 900px;
  height: fit-content;
  background-color: white;
}

.project-register-header {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 820px;
  min-height: 130px;
}
.project-register-category {
  position: relative;
  top: 20px;
}
.project-header-title-input {
  position: relative;
  font-size: 18pt;
  top: 30px;
  width: 800px;
  border: none;
  border-bottom: solid 1px;
  padding: 10px;
}
.project-header-title-input:focus {
  outline: none;
}
.project-outline-container {
  width: 820px;
  max-height: 300px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.project-outline-container div {
  position: relative;
  left: 25px;
  top: 0px;
  display: block;
  padding-bottom: 15px;
}
.project-outline-titles {
  font-weight: bold;
  color: #023577;
  padding-top: 10px;
  padding-bottom: 5px;
}
.project-outline-img {
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  width: 750px;
  height: 30px;
}

.project-outline-inputs {
  display: block;
  padding-top: 3px;

  padding-bottom: 3px;
  width: 750px;
  height: 20px;
  border: none;
  border-bottom: solid 1px;
}
.project-outline-stack {
  display: block;
  padding-top: 3px;

  padding-bottom: 3px;
  width: 750px;
  height: 20px;
}
.project-readme-container {
  width: 820px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: none;
}
.project-readme-title {
  position: relative;
  left: 20px;
  top: 20px;
  color: #023577;
  font-size: 14pt;
  font-weight: 600;
  width: 780px;
  height: 30px;
}
.project-readme-editor {
  position: relative;
  width: 750px;
  left: 25px;
  top: 30px;
  padding-bottom: 30px;
}
.project-submit {
  position: relative;
  left: 740px;
  width: 70px;
  height: 30px;
  background: #ffffff;
  color: #023577;
  border: 1px solid #023577;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
}
